<h2>Funstation Message Board</h2>
<ul>
	<% @messages.each do |message| %>
		<li>
		  <em><%= message.user.name %> said <%= time_ago_in_words message.created_at%> ago</em>
		  <%= simple_format message.content %>
		</li>
	<% end %>
</ul>

<%if signed_in? %>
  <%= form_for Message.new do |f| %>
  	<div>
  		<%= f.label :content %>
  		<%= f.text_area :content %>
  	</div>
  	<div>
  	  <%= f.submit %>
  	</div>
  <% end %>
<%else %>
  Please sign in to post.
<%end %>